.App {
	@media screen and (min-width: 700px) {
		width: 40%;

		margin: 50px auto;

		border-radius: 8px;

		box-shadow: 0 0 6px 0 rgba(0, 0, 0, .3);
	}
	
	overflow: hidden;

	&-title {
		text-align: center;
		font-size: 1.4em;
		line-height: 2;
	}
}